# .github/workflows/mega-linter.yml
---
name: MegaLinter

on:
  push:
  pull_request:
    branches:
      - main
      - master

env:
  APPLY_FIXES: all
  APPLY_FIXES_EVENT: pull_request
  APPLY_FIXES_MODE: commit

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions: {}

jobs:
  megalinter:
    name: MegaLinter
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          fetch-depth: 0
  
      - name: Pull MegaLinter Docker image
        if: steps.cache-docker.outputs.cache-hit != 'true'
        run: |
          docker pull ghcr.io/oxsecurity/megalinter-documentation:v9.2.0
          mkdir -p /tmp/mega-linter-docker
          docker save ghcr.io/oxsecurity/megalinter-documentation:v9.2.0 -o /tmp/mega-linter-docker/mega-linter-v9.tar

      - name: Cache MegaLinter Docker image
        id: cache-docker
        uses: actions/cache@v4
        with:
          path: /tmp/mega-linter-docker
          key: ${{ runner.os }}-mega-linter-9
          restore-keys: |
            ${{ runner.os }}-mega-linter-

      - name: Load MegaLinter Docker image from cache
        if: steps.cache-docker.outputs.cache-hit == 'true'
        run: docker load -i /tmp/mega-linter-docker/mega-linter-v9.tar

      - name: Run MegaLinter
        id: ml
        run: docker run --rm -v /var/run/docker.sock:/var/run/docker.sock:rw -v $(pwd):/tmp/lint:rw ghcr.io/oxsecurity/megalinter-documentation:v9.2.0
